.firstline{
    
    color:orange;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
font-family: arial;}
    .secondline{
         display: flex;
         font-size: 20px;
    align-items: center;
    justify-content: center;
    margin: 1px;
    font-family: arial;
    }
    .thirdline{
        font-size: 50px;
        font-weight: bold;
       margin: 1px ;
         display: flex;
    align-items: center;
    justify-content: center;
    font-family: arial;
    }
    .fourthline{
         display: flex;
         font-family: arial;
         margin: 7px;
    align-items: center;
    justify-content: center
    }
    .button{
    display: block;
    margin: 0 auto ;
    background-color: rgb(0, 110, 255);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border: none;
    color: white;
    cursor: pointer;
}
.totalpara{
color:red;
}