.parafirst{
    font-size: 20px;
    font-family: Arial;
   text-shadow:-1px 1px 0 gray,
   1px -1px 0 gray,
   -1px 1px 0 gray,
   -1px 1px 0 gray ,
   1px 1px 0 rgba(128, 128, 128, 0.884) ;

}
.text1{
    font-size: 12px;
    color: grey;
    text-shadow: none;
}
.para2{
    color:green;
    font-family: Arial;
}
.para3{
    color: grey;
    font-family: arial;

}
.text3{
    color: red;
    font-family: arial;
}